<!--application.html.erb で yield :cover に埋め込まれる部分-->
<!--横幅全体を占めるレイアウトにするため"container"の外 (ここでいう yield :cover) に配置するモノをこの中に書いている-->
<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵なモノと出会う場所</h1>
        
        <!--ログイン後のトップページ logged_in?はHelperで定義する-->
          <% unless logged_in? %>
            <%= link_to 'モノリストを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<!--これ以下は、container内のyield に埋め込まれる-->
<%= render 'items/items', items: @items %>